@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar Minimalista Apple-like */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0e14; 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2); 
}

