---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Sistema Offline">
	<section class="h-screen flex flex-col justify-center px-10 md:px-20 lg:px-40">
		<h1 class="font-sans text-9xl font-extrabold text-white mb-8 tracking-tighter">404</h1>
		<p class="text-white/40 text-2xl mb-12">O caminho solicitado não foi mapeado.</p>
		<a href="/" class="text-azure-tech hover:underline underline-offset-8">Voltar para a base</a>
	</section>
</Layout>
